body {
  background: url(../img/bg01.jpg);
}

* {
  font-family: futura-pt-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* ---header--- */
.header-container {
  position: relative;
  width: 100%;
  height: 200px;
}

.top-bg {
  position: absolute;
  left: 0;
  width: 80%;
}

.icon {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #242625;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 21px 0 22px;
}

.icon .logo {
  width: 52px;
  height: 52px;
  margin: 0 auto 20px;
}

.icon .logo-name {
  width: 120px;
  margin: 0 auto;
}

.menu-right {
  z-index: 1;
  position: fixed;
  top: 23px;
  right: 50px;
  display: flex;
  gap: 20px;
}

.menu-right .cart {
  width: 30px;
  height: 30px;
}

.menu-right .cart img {
  width: 100%;
}

/*============
nav
=============*/
nav {
  display: block;
  position: fixed;
  top: -100%;
  bottom: 0;
  width: 100%;
  background: url(../img/bg01.jpg);
  background-size: contain;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all 0.5s;
  z-index: 9999;
  opacity: 0;
  text-align: center;
}
.open nav {
  top: 0;
  left: 0;
  opacity: 1;
}
nav .inner {
  padding: 25px 0 200px;
  z-index: 9999;
}
nav .inner .logo {
  width: 100px;
  margin: 10px auto;
}
nav .inner .logo img {
  width: 100%;
}
nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .inner ul li {
  position: relative;
  margin: 0;
}
nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
  text-decoration: none;
  transition-duration: 0.2s;
}
nav .inner .menu-left {
  justify-content: center;
  margin: 10px 0;
}
/*============
.toggle_btn
=============*/
.toggle_btn {
  display: block;
  position: fixed;
  width: 19px;
  height: 30px;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 9999;
}
.toggle_btn span {
  display: block;
  position: absolute;
  right: 0;
  width: 19px;
  height: 3px;
  background-color: #333;
  border-radius: 4px;
  transition: all 0.5s;
}
.toggle_btn span:nth-child(1) {
  top: 6px;
  right: 0;
  width: 65%;
  margin-left: auto;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 5px;
}
.open .toggle_btn span {
  background-color: #333;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
  width: 100%;
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all 0.5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg01.jpg);
  opacity: 0.8;
  z-index: 2;
  cursor: pointer;
}

.nav-sns {
  display: flex;
  gap: 50px;
  justify-content: center;
  color: #d34b19;
  font-size: 50px;
}

@media screen and (max-width: 768px) {
  .top-bg {
    width: 77.9%;
  }
  .top-bg img {
    width: 100%;
  }
  header .bottom-bg {
    bottom: -30px;
    width: 90%;
  }
  .icon {
    width: 150px;
  }

  .icon .logo {
    margin-bottom: 17px;
  }

  .icon .logo-name {
    width: 93px;
  }

  .menu-right {
    right: 42px;
    gap: 13px;
  }
}
/* ---header--- */

/* ---main--- */

/* ---section-01--- */
.section-01-container {
  width: 90%;
  margin: 100px auto;
}

.section-01-container h2 {
  font-size: 48px;
  color: #242625;
  line-height: 61px;
  margin: 30px 0;
  text-align: center;
  font-weight: bold;
}

.section-01-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.section-01-box .section-01-text {
  width: 50%;
  font-size: 24px;
  line-height: 2;
}

.section-01-box img {
  width: 50%;
}

.section-01 .map {
  width: 100%;
  margin: 30px 0;
}

.section-01 .map iframe {
  width: 100%;
}

.section-01 .info {
  text-align: left;
  font-size: 16px;
}

.section-01 .info h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.section-01 .info p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 1.8;
}

.section-01 .info p a {
  text-decoration: underline;
}

.section-01 .info .btn {
  width: fit-content;
}

.section-01 .info .btn a {
  display: block;
  width: 100%;
  height: 100%;
  background: #d34b19;
  color: #fff;
  padding: 20px;
  font-family: "Jost", serif;
  font-size: 24px;
  border-radius: 30px;
}
/* ---section-01--- */

/* ---main--- */

/* ---footer--- */
footer {
  position: relative;
  background: url(../img/bg01.jpg);
  background-size: contain;
  padding-top: min(32.3vw, 193.8px);
}
.footer-bg {
  width: 100%;
  position: absolute;
  top: 0;
}

.footer-bg img {
  float: left;
  width: 94vw;
  max-width: 600px;
  margin-left: max(-8vw, -54px);
  transform: scaleX(-1);
}

.footer-container {
  position: relative;
  background: #242625;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-container .logo {
  width: 100px;
  margin: 20px auto;
}

.footer-container .logo-name {
  width: 190px;
  margin: 20px auto;
}

.footer-container .footer-sns {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px auto;
}
.footer-container .footer-sns a img {
  width: 48px;
}
.footer-container p {
  font-size: 14px;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-container .logo {
    width: 52px;
    margin: 18px auto 14px;
  }

  .footer-container .logo-name {
    width: 152px;
    margin: 2px auto;
  }

  .footer-container .footer-sns {
    gap: 27px;
    margin: 23px auto 0;
  }
  .footer-container .footer-sns a img {
    width: 25px;
  }

  .footer-container p {
    margin: 18px 0 15px;
    font-size: 10px;
  }
}
/* ---footer--- */
